img{
    height: 20px;
    width: 20px;
}
p{
    text-align: center;
    align-items: center;
}
h2{
    color: rgb(113, 113, 133);
    text-align: center;
    align-items: center;
}
.nav{
    border-radius: 10px;
    
}
